
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
                {{title_page|default:"Document"}}

    </title>
	<link rel="stylesheet" href='/static/css/normalize.css' >
	<link rel="stylesheet" href='/static/css/style.css' >
</head>
<body>
<header></header>

	<nav>
		<menu>
			<li class="{%block menu1 %}{%endblock %}"><a href="/">Обо мне</a></li>
			<li class="{%block menu2 %}{%endblock %}"><a href="/study/">Обучение</a></li>
			<li class="{%block menu3 %}{%endblock %}"><a href="/jobs/">Работа</a></li>

		</menu>
	</nav>

	{% block mainblock %}
	{% endblock %}
</body>
</html>