{% extends 'base.html' %}
{%block menu1 %}selected{%endblock %}
{% block mainblock %}
{#% load static %#}

	<section class="content">
		<h1>{{person.last_name|title}} {{person.first_name|title}} {{person.next_name|title}}</h1>
		<h2>({{person.nickname}})</h2>
		<div class="photo">
		    <img src='static/img/{{person.img}}'  alt="" >
		</div>
		<table>

			<tr>
				<td>Дата рождения:</td>
				<td>{{person.date_of_birth}}</td>
			</tr>

            <tr>
                <td>Место проживания:</td>
                <td>{{person.location}}</td>
            </tr>
            <tr>
                <td>Гражданство:</td>
                <td>{{person.nationality}}</td>
            </tr>
            <tr>
                <td>Образование:</td>
                <td>{{person.education}}</td>
            </tr>


		</table>
		<div class="clear"></div>
		<div>
		<h2>Контактные данные</h2>
		<table>

                <tr>
                    <td>E-mail:</td>
                    <td>{{person.email}}</td>
                </tr>




		</table>
		<h2>О себе</h2>

		        <h3>Личные качества</h3>
		        <p>{{person.descriptions}}</p>



		<h2>Навыки, знания</h2>
            {% for skill in skills %}
                <h3>{{skill.name}}:</h3>
		        <p>{{skill.content}} </p>
            {%empty %}
                Нет навыков
            {%endfor %}

            <h2>Хобби</h2>

		<p>{%for hobby in hobbies %}
              {{hobby.name}},
            {%endfor %}

        </p></div>
	</section>
{% endblock %}