{% extends 'base.html' %}
{% block mainblock %}
{#% load static %#}

	<section class="content">
		<h1>{{last_name|title}} {{first_name|title}} {{next_name|title}}</h1>
		<h2>({{nickname}})</h2>
		<div class="photo">
		    <img src='static/img/{{img}}'  alt="" >
		</div>
		<table>
            {% for data in personal_data %}
			<tr>
				<td>{{data.name}}:</td>
				<td>{{data.value}}</td>
			</tr>
            {% empty %}
            <tr>
                <td>Нет данных</td>
            </tr>
            {%endfor %}

		</table>
		<div class="clear"></div>
		<div>
		<h2>Контактные данные</h2>
		<table>
			{%for contact in contacts %}
                <tr>
                    <td>{{contact.name}}:</td>
                    <td>{{contact.value}}</td>
                </tr>
            {%empty %}
                Данные не представлены
            {%endfor %}

		</table>
		<h2>О себе</h2>
            {% for quality in about_me %}
		        <h3>{{quality.name}}</h3>
		        <p>{{quality.content}}</p>
            {%empty %}
                Нет информации
            {%endfor %}
		<h2>Навыки, знания</h2>
            {% for skill in skills %}
                <h3>{{skill.name}}:</h3>
		        <p>{{skill.content}} </p>
            {%empty %}
                Нет навыков
            {%endfor %}

            <h2>Хобби</h2>

		<p>{{hobbies|join:", "|capfirst}}</p></div>
	</section>
{% endblock %}