{% extends 'base.html' %}
{%block menu3 %}selected{%endblock %}
{% block mainblock %}


	<section class="content">
		<h2>{{page_heading}}</h2>
		<ul>
            {% for job in jobs_list %}
			    <li>{{job.employer}}, {{job.position|lower}} ({{job.period}})</li>
            {% empty %}
                Нет работы. И не было никогда.
            {% endfor %}
            <!--<li>ООО Clientbase, программист (2011 г.)</li>
			<li>ООО ”Строй Стандарт”, инженер (2008-2011г.)</li>
			<li>ФГУП “НПО ГИПО”, отдел информационных технологий и защиты информации, инженер-программист(2003-2008 г.)</li>
			-->
		</ul>
	</section>
{% endblock %}