{% extends 'base.html' %}
{%block menu3 %}selected{%endblock %}
{% block mainblock %}


	<section class="content">
		<h2>{{page_heading}}</h2>

		<ul>
            {% for job in jobs_list %}
			    <li>{{job.employer}}, {{job.position|lower}} ({{job.date_from|date:'Y'}}
                    {%if job.date_from|date:'Y' != job.date_to|date:'Y' %}
                    -{{job.date_to|date:'Y'}}
                    {%endif %}

                    )</li>
            {% empty %}
                Нет работы. И не было никогда.
            {% endfor %}

		</ul>
	</section>
{% endblock %}