{% extends 'base.html' %}
{%block menu2 %}selected{%endblock %}
{% block mainblock %}


	<section class="content">
		<h2>Пройденное обучение</h2>
		<ul>


            {%for item in courses|dictsortreversed:"period" %}
               <li>

                   {%if item.relevant == True %}
                       <b>{{item.course}}</b>
                   {%else %}
                       {{item.course}}
                   {%endif %}
                   (
                   {%if item.vendor_site %}
                       <a href="{{item.vendor_site}}">{{item.vendor}}</a>
                   {%else %}
                   {{item.vendor}}
                   {%endif %}
                   , {{item.period}} г.)</li>
            {%empty %}
                Отсутствует
            {%endfor %}
			

		</ul>
		<h2>Высшее образование</h2>
		<ul>
            {%for item in high_education %}
			<li>{{item.university}}, {{item.department}} отделение, {{item.faculty}} факультет</li>
            {%empty %}
                Отсутствует
            {%endfor %}
		</ul>
	</section>
{% endblock %}